.mainContainer {
    position: absolute;
    min-height: 40px;
    width: auto;
    display: flex;
    gap: 10px;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: black;
}

.menuText, .menuTextMiddle {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}

.menuTextMiddle {
    margin-left: 15px;
}

.grab, 
.menuSection, 
.portfolio, 
.language, 
.projectName, 
.hireMe, 
.accordionContentOpen,
.accordionContentClosed  {
    background-color: rgba(255, 255, 255, 0.218);
    backdrop-filter: blur(1px);
    width: auto;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grab {
    padding: 0;
    cursor: grab;
    transition: 1ms ease-in-out;
}

.grab:active {
    cursor: grabbing;
}

.grab:hover {
    color: white;
}

.grabIcon {
    font-size: 30px;
    transition: .2s ease-in-out;
}

.menuSection {
    display: flex;
    padding: 0 10px;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.menuWrapper {
    position: absolute;
    width: 136px;
    top: 100%;
    display: block;
    z-index: 1000; 
    left: 40px;
}

.menuHeader {
    display: flex;
    align-items: center;
}

.innerMenu {
    width: 100%;
    display: block;
}

.menuList {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    display: block; 
}

.menuList li {
    padding: 5px 0;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
}

.linkStyle:hover {
    color: rgb(154, 207, 41);
    transition: color .3s ease;
}



.menuList li:hover {
    background-color: rgba(255,255,255,0.08);
}

.menu li:hover {
    background-color: rgba(255, 255, 255, 0.176);
}


.tooltipText {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -55%; 
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 11px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.grab:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

/* Accordion Settings */

.accordionContentOpen {
    display: block;
    max-height: 500px;        /* enough to fit menu items */
    overflow: hidden;
    transition: max-height 2.5s ease;
}

.accordionContentClosed {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s ease;
}