.mainContainer {
    height: 100%;
    width: 100%;
    padding: 0 30px;
}

.top {
    height: 300px;
    display: flex;
}

.left {
    width: 50%;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text p {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
}

.projectsContainer {
    position: relative; /* important: children are positioned relative to this */
    width: 100%;
    height: 100%;
}

.projectWrapper {
    position: absolute; /* absolute relative to container */
    cursor: grab;
    user-select: none;
    width: 670px;  /* smaller, manageable size */
    height: 250px;
}
.projectWrapper:active {
    cursor: grabbing;
}